@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./base/base";
@import "./components/components";
@import "./layout/layout";
@import "./page/menu";

/*Loadscreen*/

.loadscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 100;
	@include flex-center;
	flex-direction: column;
	animation: loadscreen 100ms 2s linear forwards;
}
.loadspinner {
	position: relative;
	width: 100px;
	height: 100px;
	border: 4px solid $primary-color;
	overflow: hidden;
	border-radius: 50%;
}

.loadspin {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-image: $bg-gradient;
	animation: loadspinner 500ms ease-in 4;
}

.loadspinner span {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	z-index: 10;
	background: darken($primary-color, $amount: 50);
	border-radius: 50%;
	border: 2px solid $primary-color;
	box-shadow: -3px -2px 6px #9256dc57 inset, 2px 2px 7px #9256dc57 inset;
}
.loadscreen h1 {
	animation: loadscreen 200ms 2s forwards;
	color: darken($primary-color, $amount: 50);
}


/*Location*/

section#location {
	display: flex;
	flex-direction: column;
}
div#adress {
	background-color: rgb(234, 234, 234);
	height: 60px;
	box-shadow: 0px 3px 3px rgb(209, 209, 209) inset;
	@include flex-center;
}

input#ville {
	background: none;
	margin-left: 20px;
	width: 130px;
	font-size: 15px;
	@include border-padding-none;
}
div#explore {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: $bg-alt;
}
div#explore h2 {
	width: 60%;
	align-self: center;
	margin: 45px 0px 15px 0px;
	font-size: 1.3em;
	font-weight: 1000;
}
div#explore h3 {
	width: 85%;
	align-self: center;
	font-family: "roboto-thin";
	margin: 0px;
	font-size: 1.05em;
	color: #646464;
	font-weight: 600;
}

/*operation*/

section#operation {
	display: flex;
	flex-direction: column;
	margin: 0px 20px;
	@media screen and (min-width: 650px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}
#ope_list {
	@media screen and (min-width: 650px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}
#operation h2 {
	margin: 50px 0px 30px 0px;
	width: 100%;
	@media screen and (min-width: 650px) {
		text-align: center;
		font-size: 1.8em;
		font-family: "shrikhand";
	}
}
a.ope {
	position: relative;
	height: 70px;
	max-width: 700px;
	background-color: #f6f6f6;
	border-radius: 20px;
	margin: 0px 0px 25px 15px;
	@include box-shadow-default(#dddddd);
	@include link-no-style;
	@include flex-center;
	@media screen and (min-width: 650px) {
		margin-left: 25px;
	}
}
.num-op {
	width: 25px;
	height: 25px;
	position: absolute;
	left: -12.5px;
	background-color: $primary-color;
	color: white;
	border-radius: 15px;
	@include flex-center;
}
#operation h3 {
	margin: 0px;
	width: 220px;
	font-size: 1em;
}
a.ope {
	i {
		width: 70px;
		margin-right: 25px;
		color: #7e7e7e;
		@include flex-center;
	}
	&:hover,
	&:active {
		background-color: scale-color($primary-color, $lightness: 90%);
	}
	&:hover i,
	&:active i {
		color: $primary-color;
	}
}

/*Restaurant*/

section#restaurant {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: $bg-alt;
	padding: 0px 20px;
	@media screen and (min-width: 660px) {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}
#restaurant h2 {
	width: 100%;
	@media screen and (min-width: 660px) {
		text-align: center;
		font-size: 1.8em;
		font-family: "shrikhand";
	}
}
#rest_list {
	width: 100%;
	@media screen and (min-width: 660px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}
a.rest {
	position: relative;
	height: 250px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	background-color: #ffffff;
	margin-bottom: 20px;
	@include link-no-style;
	@include box-shadow-default;
	@media screen and (min-width: 660px) {
		margin-right: 20px;
		width: 40%;
	}
}
.rest {
	img {
		height: 175px;
		border-radius: 15px 15px 0px 0px;
		object-fit: cover;
	}
	.rest_info {
		display: flex;
		margin-left: 15px;
	}
	.text_rest {
		display: flex;
		flex-direction: column;
		width: calc(100% - 50px);
	}
	h3 {
		width: 245px;
		margin: 0px;
		margin-top: 15px;
		font-size: 1.1em;
	}
	h4 {
		margin: 3px 0px 20px 0px;
		font-family: "roboto-thin";
		font-size: 1em;
		font-weight: 600;
	}
	.heart {
		font-size: 1.7em;
		@include flex-center;
	}
}
