@font-face {
    font-family: "roboto";
	src: url("Fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "roboto-thin";
    src: url("Fonts/Roboto-Thin.ttf");
}
@font-face {
    font-family: "shrikhand";
    src: url("Fonts/Shrikhand-Regular.ttf");
}

body {
	margin: 0px;
}
h1 {
    font-family: 'shrikhand';
}
h2,
h3,
h4,
span,
input,
p {
    font-family: 'roboto';
}

/*header*/

header {
	height: 65px;
	display: flex;
    justify-content: center;
}
h1 {
	margin: 23px 0px 0px 0px;
}
img#logo {
	width: 165px;
}

/*Location*/

section#location {
	display: flex;
	flex-direction: column;
}
div#adress {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(234, 234, 234);
	height: 60px;
    box-shadow: 0px 3px 3px rgb(209, 209, 209) inset
}

input#ville {
	border: none;
	background: none;
    margin-left: 20px;
    padding: 0px;
    width: 130px;
    font-size: 15px;
}
div#explore {
	display: flex;
	flex-direction: column;
	text-align: center;

	background-color: rgb(246, 246, 246);
}
div#explore h2 {
    width: 60%;
    align-self: center;
    margin: 45px 0px 15px 0px;
    font-size: 1.3em;
    font-weight: 1000;
}
div#explore h3 {
    width: 85%;
    align-self: center;
    font-family: 'roboto-thin';
    margin: 0px;
    font-size: 1.05em;
    color: #646464;
    font-weight: 600;
}
#explore button {
    align-self: center;
    width: 220px;
    height: 50px;
    border-radius: 50px;
    font-size: 1em;
    color: #FFFFFF;
    border: none;
    padding: 0px;
    background-color: #9356DC;
    box-sizing: border-box;
    box-shadow: 15px 20px 35px inset #ff79DA;
    margin: 30px 0px 60px 0px;
}
button span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 1px 2px 15px #dddddd;
}


/*operation*/

section#operation {
	display: flex;
	flex-direction: column;
	margin: 0px 20px;
}
#operation h2 {
    margin: 50px 0px 30px 0px;
}
a.ope {
    height: 70px;
    text-decoration: none;
    color: black;
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: #f6f6f6;
	border-radius: 20px;
	box-shadow: 1px 2px 15px #dddddd;
	margin: 0px 0px 25px 15px;
}
.num-op {
    position: absolute;
    left: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #9356DC;
    color: white;
    border-radius: 15px;
}
#operation h3 {
    margin: 0px;
    width: 220px;
    font-size: 1em;
}
a i {
   margin-right: 25px;
   color: #7e7e7e;
}
a.ope:active {
    background-color: #f5edff;
}
a.ope:active i {
    color: #9356DC;
}

/*Restaurant*/

section#restaurant {
	display: flex;
	flex-direction: column;
	background-color: #f6f6f6;
	padding: 0px 20px;
}
div.rest {
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	background-color: #ffffff;
	margin-bottom: 20px;
	box-shadow: 1px 2px 15px #dddddd;
}
div.rest img {
	height: 175px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
}

/*Footer*/

footer {
	background-color: #353535;
	color: rgb(255, 255, 255);
	padding: 15px 0px 0px 20px;
}
