@font-face {
	font-family: "roboto";
	src: url("Fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: "roboto-thin";
	src: url("Fonts/Roboto-Thin.ttf");
}
@font-face {
	font-family: "shrikhand";
	src: url("Fonts/Shrikhand-Regular.ttf");
}

body {
	margin: 0px;
}
h1 {
	font-family: "shrikhand";
}
h2,
h3,
h4,
span,
input,
p {
	font-family: "roboto";
}

/*header*/

header {
	height: 65px;
	display: flex;
	justify-content: center;
}
h1 {
	margin: 23px 0px 0px 0px;
}
img#logo {
	width: 165px;
}

/*Location*/

section#location {
	display: flex;
	flex-direction: column;
}
div#adress {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(234, 234, 234);
	height: 60px;
	box-shadow: 0px 3px 3px rgb(209, 209, 209) inset;
}

input#ville {
	border: none;
	background: none;
	margin-left: 20px;
	padding: 0px;
	width: 130px;
	font-size: 15px;
}
div#explore {
	display: flex;
	flex-direction: column;
	text-align: center;

	background-color: rgb(246, 246, 246);
}
div#explore h2 {
	width: 60%;
	align-self: center;
	margin: 45px 0px 15px 0px;
	font-size: 1.3em;
	font-weight: 1000;
}
div#explore h3 {
	width: 85%;
	align-self: center;
	font-family: "roboto-thin";
	margin: 0px;
	font-size: 1.05em;
	color: #646464;
	font-weight: 600;
}
#explore button {
	align-self: center;
	width: 220px;
	height: 50px;
	border-radius: 50px;
	font-size: 1em;
	color: #ffffff;
	border: none;
	padding: 0px;
	background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
	box-sizing: border-box;
	margin: 30px 0px 60px 0px;
	box-shadow: 1px 3px 15px #c9c9c9;
}
#explore button:hover,
#explore button:active {
	box-shadow: 1px 3px 15px #b6b6b6;
}

/*operation*/

section#operation {
	display: flex;
	flex-direction: column;
	margin: 0px 20px;
}
#operation h2 {
	margin: 50px 0px 30px 0px;
}
a.ope {
	height: 70px;
	text-decoration: none;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f6f6f6;
	border-radius: 20px;
	box-shadow: 1px 2px 15px #dddddd;
	margin: 0px 0px 25px 15px;
}
.num-op {
	position: absolute;
	left: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	background-color: #9356dc;
	color: white;
	border-radius: 15px;
}
#operation h3 {
	margin: 0px;
	width: 220px;
	font-size: 1em;
}
a.ope i {
	margin-right: 25px;
	color: #7e7e7e;
}
a.ope:hover,
a.ope:active {
	background-color: #f5edff;
}
a.ope:hover,
a.ope:active i {
	color: #9356dc;
}

/*Restaurant*/

section#restaurant {
	display: flex;
	flex-direction: column;
	background-color: #f6f6f6;
	padding: 0px 20px;
}
a.rest {
	height: 250px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	background-color: #ffffff;
	margin-bottom: 20px;
	box-shadow: 1px 2px 15px #dddddd;
	color: black;
	text-decoration: none;
}
a.rest:hover,
a.rest:active {
	box-shadow: 1px 3px 15px #cfcfcf;
}
.rest img {
	height: 175px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
}
.rest div {
	display: grid;
	grid-template-columns: auto, auto;
	margin-left: 15px;
}
.rest h3 {
	width: 245px;
	margin: 0px;
	margin-top: 15px;
	grid-column: 1;
	font-size: 1.1em;
}
.rest h4 {
	margin: 3px 0px 20px 0px;
	grid-column: 1;
	font-family: "roboto-thin";
	font-size: 1em;
	font-weight: 600;
}
a.rest button {
	background: none;
	border: none;
	grid-column: 2;
	grid-row: 1 / span 2;
	font-size: 1.7em;
}
a.rest button .fas {
	display: none;
	color: #9356dc;
	background-image: linear-gradient(to top, #ff79da, #e86edb, #cf64dc, #9356dc);
	border-radius: 50px;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
a.rest button:active .fas,
a.rest button:hover .fas {
	display: inline;
}
a.rest button:active .far,
a.rest button:hover .far {
	display: none;
}

/*menu*/

header a#return {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 65px;
	height: 65px;
}
header a#return i {
	position: absolute;
	left: 23px;
	top: 29px;
	font-size: 1.5em;
	color: black;
}

.restaurant-page {
	display: flex;
	flex-direction: column;
}
.img-menu {
	width: 100%;
}
.menu {
	position: relative;
	display: flex;
	flex-direction: column;
	top: -50px;
	background-color: #f6f6f6;
	border-radius: 50px 60px 0px 0px;
	padding: 0px 15px;
	margin-bottom: -50px;
}
.rest-tittle {
	display: grid;
	grid-template-columns: 265px 70px;
	margin-top: 35px;
}
.rest-tittle h2 {
	font-family: "shrikhand";
	font-size: 1.7em;
	font-weight: 500;
	margin: 0px;
}
.rest-tittle button {
	background: none;
	border: none;
	grid-column: 2;
	grid-row: 1 / span 2;
	font-size: 1.7em;
}
.rest-tittle button .fas {
	display: none;
	color: #9356dc;
	border-radius: 50px;
	background-image: linear-gradient(to top, #ff79da, #e86edb, #cf64dc, #9356dc);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.rest-tittle button:active .fas,
.rest-tittle button:hover .fas {
	display: inline;
}
.rest-tittle button:active .far,
.rest-tittle button:hover .far {
	display: none;
}
.underl {
	text-decoration: underline;
	text-decoration-color: #99e2d0;
	text-underline-position: left under;
	text-decoration-thickness: 3px;
}
.menu .food {
	display: grid;
	grid-template-columns: auto 80px;
	background-color: white;
	justify-content: space-between;
	box-shadow: 1px 2px 15px #c9c9c9;
	margin: 0px 0px 20px 0px;
	border-radius: 20px;
	min-height: 70px;
	padding-left: 10px;
	text-overflow: ellipsis;
}
.food h4 {
	font-size: 1.05em;
	margin: 15px 0px 0px 0px;
}
.food h5 {
	grid-column: 1;
	margin: 0px 0px 10px;
	font-size: 0.9em;
	font-family: "roboto-thin";
}
.food p {
	grid-column: 2;
	margin: 0px;
	font-size: 0.9em;
	font-weight: 800;
	text-align: center;
}
.food i {
	width: 60px;
	display: none;
	justify-content: center;
	align-items: center;
	grid-column: 3;
	grid-row: 1 / span 2;
	background-color: #99e2d0;
	color: white;
	font-size: 1.3em;
	border-radius: 0px 20px 20px 0px;
}
.menu button.command {
	align-self: center;
	width: 220px;
	height: 50px;
	border-radius: 50px;
	font-size: 1em;
	color: #ffffff;
	border: none;
	padding: 0px;
	background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
	box-sizing: border-box;
	margin: 30px 0px 60px 0px;
	box-shadow: 1px 3px 15px #c9c9c9;
}
.menu button.command:hover,
.menu button.command:active {
	box-shadow: 1px 3px 15px #b6b6b6;
}

/*Footer*/

footer {
	background-color: #353535;
	color: rgb(255, 255, 255);
	padding: 25px 0px 20px 25px;
}
footer h2 {
	font-family: "shrikhand";
	font-size: 1.2em;
	margin: 0px 0px 25px 0px;
	font-weight: 500;
}
footer h3 {
	margin: 0px 0px 15px 0px;
	font-size: 1em;
}
footer i {
	margin-right: 10px;
}
footer h3:nth-child(4),
footer h3:nth-child(5) {
	font-weight: 500;
}
