/*menu*/

.restaurant-page {
	display: flex;
	flex-direction: column;
}
.img-menu {
	width: 100%;
	max-height: 280px;
	object-fit: cover;
	@media screen and (min-width: 660px) {
	}
}
.menu {
	position: relative;
	display: flex;
	flex-direction: column;
	top: -50px;
	background-color: $bg-alt;
	border-radius: 50px 60px 0px 0px;
	padding: 0px 15px;
	margin-bottom: -50px;
}
.rest-tittle {
	display: flex;
	margin-top: 35px;
	@media screen and (min-width: 660px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.rest-tittle h2 {
	font-family: "shrikhand";
	font-size: 1.7em;
	font-weight: 500;
	margin: 0px;
	width: calc(100% - 50px);
	@media screen and (min-width: 660px) {
		width: 100%;
		text-align: center;
	}
}
.rest-tittle .heart {
	font-size: 1.7em;
	@include flex-center;
}
.underl {
	text-decoration: underline;
	text-decoration-color: $secondary-color;
	text-underline-position: left under;
	text-decoration-thickness: 3px;
}
.menu h3 {
	@media screen and (min-width: 660px) {
		text-decoration: underline;
		text-decoration-color: $secondary-color;
		text-underline-position: left under;
		text-decoration-thickness: 3px;
	}
}
.dish_list {
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 660px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		h3 {
			text-align: center;
			width: 100%;
		}
	}
}
.food {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: white;
	margin: 0px 0px 20px 0px;
	border-radius: 20px;
	padding-left: 10px;
	overflow: hidden;
	@include box-shadow-default(#dddddd);
	animation: food-anim $anim-dur-food both;
	@for $i from 1 through $num-food {
		&--#{$i} {
			animation-delay: $anim-delay * $i;
		}
	}
	.dish {
		width: calc(100% - 50px);
		transition: all 0.5s;
	}
	h4 {
		font-size: 1.05em;
		margin: 15px 0px 0px 0px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	h5 {
		margin: $margin-bot-food;
		font-size: 0.9em;
		font-family: "roboto-thin";
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	p {
		margin: 0px;
		align-self: flex-end;
		margin: $margin-bot-food;
		font-size: 0.9em;
		font-weight: 800;
	}
	.select {
		width: 0px;
		height: 100%;
		@include flex-center;
		background-color: $secondary-color;
		color: white;
		font-size: 1.3em;
		border-radius: 0px 20px 20px 0px;
		transition: all 0.5s;
	}
	@media screen and (min-width: 660px) {
		margin-right: 20px;
	}
}
.food:hover {
	span {
		width: 60px;
	}
	i {
		animation: select-rotate 0.5s;
	}
	div {
		width: calc(100% - 110px);
	}
}

.menu button.command {
	width: 190px;
	height: 50px;
}
