.gradient-button {
	align-self: center;
	width: 220px;
	height: 50px;
	border-radius: 50px;
	font-size: 1em;
	color: #ffffff;
	background-image: $bg-gradient;
	box-sizing: border-box;
	margin: 30px 0px 60px 0px;
	@include box-shadow-default;
	@include border-padding-none;
	&:hover,
	&:active {
		background-image: $bg-gradient-light;
	}
}

.heart {
	.fas {
		height: 0px;
		position: absolute;
		color: #9356dc;
		background-image: $linear-gradient;
		border-radius: 50px;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&:active .fas,
	&:hover .fas {
		animation: heart-anim 200ms ease-in-out both;
	}
	&:active .far,
	&:hover .far {
		opacity: 0;
	}
}

.new_rest {
	position: absolute;
	width: 80px;
	height: 30px;
	background-color: $secondary-color;
	color: darken($secondary-color ,40%);
	font-size: 0.9em;
	@include flex-center
	
}
